{# Copyright (C) 2026 Patryk Ściborek <patryk@sciborek.com>
 # Copyright (C) 2026 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}
GARAGE_DEFAULT_ACCESS_KEY={{ garage__default_access_key_id }}
GARAGE_DEFAULT_SECRET_KEY={{ garage__default_secret_key }}
GARAGE_DEFAULT_BUCKET={{ garage__default_bucket }}
