---
{# Copyright (C) 2021 Patryk Ściborek <patryk@sciborek.com>
 # Copyright (C) 2021 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# {{ ansible_managed }}

# This file is not directly used by Zigbee2MQTT, it's merged
# by debops.zigbee2mqtt role with dynamic configuration genertated
# by Zigbee2MQTT. Values defined here overwrite dynamic configuration.

{% set zigbee2mqtt__tpl_configuration = {} %}
{% for element in zigbee2mqtt__combined_configuration | debops.debops.parse_kv_items %}
{%   if element.state|d('present') not in [ 'absent', 'init', 'ignore' ] %}
{%     set combined_config = zigbee2mqtt__tpl_configuration | combine(element.config, recursive=True) %}
{%     set _ = zigbee2mqtt__tpl_configuration.update(combined_config) %}
{%   endif %}
{% endfor %}
{{ zigbee2mqtt__tpl_configuration | to_nice_yaml }}
