{# Copyright (C) 2021 Patryk Ściborek <patryk@sciborek.com>
 # Copyright (C) 2021 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
# {{ ansible_managed }}

# Configuration of zigbee2mqtt

# Path to data directory
ZIGBEE2MQTT_DATA={{ zigbee2mqtt__data }}

